
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (@ViewBag.email != null)
{

    @Html.Raw(ViewBag.HtmlStr)

    <div id="annexcloud" style="width: 100%;float: left;">
        <div id="refer-a-friend" onclick="s2_raf_popup('@ViewBag.email','@ViewBag.fname','@ViewBag.lname')" style="cursor:pointer;float: right;">
            <img src="https://test.socialannex.com/thelastline/0/raf/images/raf-tll.png" alt="sharelink" />
            <p>
                share your love for the last line and receve something you&#039;ll both love: they
                get $50 off first purchases of $500+ and you&#039;ll score 100 points. we got you.
            </p>
        </div>
    </div>


    <div id="sa_refer_friend" style="display: none;"></div>
}
